<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <!-- Input links to stylesheets and APIs-->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/css/main.css">

    <title>The Weigh We Were</title>
</head>

<body>
    <header>
        <img src= "./assets/images/login_image.jpeg">

        <nav>
            <div>Login</div>
            <div>Sign up</div>
        </nav>

        <h1>The Weigh We Were</h1>

    </header>

    <main>
        {{{ body }}}
    </main>
    
    <!--Insert link to JavaScript file here-->
</body>

</html>