<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
<<<<<<< HEAD
    <!-- Input links to stylesheets and APIs-->
    <link rel="stylesheet" href="./assets/css/main.css">

=======
    <!-- Input links to stylesheets and APIs-->    
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
>>>>>>> 82e8644a493403ad155828f825a16a65efa881a4
    <title>The Weigh We Were</title>
</head>

<body>
    <header>
        <img src="./assets/images/login_image.jpeg">

        <nav>
            <div>Login</div>
            <div>Sign up</div>
        </nav>

        <h1>The Weigh We Were</h1>

    </header>

    <main>
        {{{ body }}}
    </main>

    <!--Insert link to JavaScript file here-->
<<<<<<< HEAD
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
=======
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
>>>>>>> 82e8644a493403ad155828f825a16a65efa881a4
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>