<div class= "wrapper"> Welcome to The Weigh We Were 
    <div class="description">This app will help you track both weightlifting and cardio workouts and monitor your overall progress towards your goals!</div>
</div>
{{!-- Add a welcoming message--}}
