* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: "./assets/images/login_image.jpeg";
    font-size: 20px;
}

nav {
    position: absolute;
    top: 40px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li {
    padding: 10px;
}

header h1 {
    position: absolute;
    top: 250px;
    left: 200px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}